.card{
    border-radius: 8px;
    margin: 50px 0;
}
.data{
    color: rgb(155, 153, 153);
    font-size: 15px;
    margin-right: 10px;
}
.icons{
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}
