.ul>li{
    
    list-style-type: none;
    font-size: 20px;
 
}

.navlink{
    color:rgb(49, 49, 49);
}
.navlink:hover{
    color:rgb(179, 120, 190);
}
.active{
    color: #a729a7;
}
.dropdown{
    font-size: 20px;
}