.singTaskTitle{
    font-size: 25px;
    margin-bottom: 30px;
}
.singleTaskText{
    font-size: 20px;
}
.singleTaskButton{
    margin: 20px 40px 0 30px ;
    padding: 10px 20px;
}
.heading{
    font-family: 'Dancing Script', cursive;
    font-size: 60px; 
    margin-bottom: 60px
}
.date{
    color: rgb(155, 153, 153);
    font-size: 15px;
    margin-right: 10px;
}

